# ALL REPOSITORIES
# ----------------
# General
.DS_Store
Thumbs.db
*.swp
*.log
*.tmp
*.bak
*~

# Windows
desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/
*.code-workspace

# JetBrains
.idea/
*.iml

# Web Artifacts
node_modules/
bower_components/
dist/
build/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PHP
vendor/
composer.lock
*.phpunit.result.cache

# Git
*.orig
