/*
    Author: Amey Thakur
    GitHub: https://github.com/Amey-Thakur
    Repository: https://github.com/Amey-Thakur/WEB-DESIGNING-LAB
    Description: CSS Styling for Prime Number Identifier (Experiment 7)
*/
table {
  color: #ffffff;
  border-radius: 20px;
}

body {
  font: 15px/1.5 cursive;
  padding: 0;
  margin: 0;
  background-color: aqua;
}

button {
  height: 38px;
  background: #263dd4;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #000dff;
}