/*
    Author: Amey Thakur
    GitHub: https://github.com/Amey-Thakur
    Repository: https://github.com/Amey-Thakur/WEB-DESIGNING-LAB
    Description: External Stylesheet (style.css)
    Task: Styling for the Interest Calculator application.
*/

body {
  background-color: aqua;
}

h1.hc {
  font-family: cursive;
  font-size: 50px;
  color: #ff0000;
  position: absolute;
  left: auto;
}

div.ex {
  width: auto;
  padding: 30px;
  border: 0px solid gray;
  margin: 0px;
}

p.in {
  font-family: cursive;
  font-size: 15px;
}

/* Utility Class for Text Color */
.color-class {
  color: red;
}