body{
  background-color: #00fbff;
}

h1.hc{
  font-family: cursive;
  font-size: 50px;
  color: #ff0000;
  position: absolute;
  left: auto;
}

div.ex{
  width: auto;
  padding: 20px;
  border: 0px;
  margin: 0px;
}

p.in{
  font-family: cursive;
  font-size: 15px;
}

.color-class{
   color:red;
}
